team40_A1/__pycache__/__init__.cpython-311.pyc
team40_A1/__pycache__/sudokuai.cpython-311.pyc
__pycache__/simulate_game.cpython-311.pyc
team40_A2/__pycache__/__init__.cpython-39.pyc
team40_A2/__pycache__/__init__.cpython-311.pyc
team40_A2/__pycache__/sudokuai.cpython-39.pyc
team40_A2/__pycache__/sudokuai.cpython-311.pyc
team40_A1/__pycache__/
competitive_sudoku/__pycache__/execute.cpython-310.pyc
competitive_sudoku/__pycache__/sudoku.cpython-310.pyc
competitive_sudoku/__pycache__/sudokuai.cpython-310.pyc
random_player/__pycache__/__init__.cpython-310.pyc
random_player/__pycache__/sudokuai.cpython-310.pyc
competitive_sudoku/__pycache__/__init__.cpython-310.pyc
